* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1 {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    display: flex;
    height: 70px;
    width: 100%;
    z-index: 1;
    box-shadow: 0 4px 12px #172b4d50;
}

.logo {
    height: 50px;
    width: auto;
    margin: 10px;
}

.navBar {
    width: 93.53px;
    height: 62px;
}

.navButton {
    display: none;
}

.hamburger{
    height: 56px;
    width: 56px;
    margin: 7px 0 7px auto;
}

.hamburgerButton1,
.hamburgerButton2 {
    display: none;
    font-size: 19.2px;
}

.menuButton {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1pc;
    margin-left: 1pc;
}

.menuIcon {
    position: relative;
    background-color: #172b4d;
    width: 24px;
    height: 5px;
    border-radius: 2.5px;
}

.menuIcon::before,
.menuIcon::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: #172b4d;
    width: 24px;
    height: 5px;
    border-radius: 2.5px;
}

.menuIcon::before {
    top: -8px;
}

.menuIcon::after {
    top: 8px;
}

.menuButton:hover .menuIcon::before {
    transform: translateY(8px) rotate(45deg);
    transition-duration: 350ms;
}

.menuButton:hover .menuIcon::after {
    transform: translateY(-8px) rotate(-45deg);
    transition-duration: 350ms;
}

.menuButton:hover .menuIcon {
    background-color: transparent;
    transition-duration: 350ms;
}

.header2 {
    background-color: #deebff;
    display: block;
    text-align: center;
    color: #091e42;
    padding: 10px 16px 16px 16px;
}

.navMob {
    display : flex;
    column-width: 100%;
}

.sec1 {
    background-color: #f4f5f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.div1 {
    max-width: 540px;
    padding: 128px 16px 16px 16px;
    text-align: center;
}

.div2 {
    max-width: 540px;
    width: 100%;
    padding: 16px;
}

.signUpButton {
    margin-top: 24px;
    margin-bottom: 16px;
    background-color: #0065ff;
    width: 100%;
    height: 49.6px;
    border: none;
    border-radius: 5px;
}

.signUpLink {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 17.2px;
    padding-top: 17.2px;
    font-size: 16px;
}

.signUpButton:hover {
    background-color: #003481cd;
    transition-duration: 400ms;
}

.normalLink:any-link {
    color: #0052cc;
}

.normalLink:hover {
    color: #551a8b;
    transition-duration: 200ms;
}

.sec2 {
    display: flex;
    justify-content: center;
}

.div3 {
    max-width: 540px;
    padding: 16px;
    text-wrap: wrap;
}

.div31 {
    display: none;
}

.div4 {
    background-color: #0065ff;
    color: #ffffff;
    text-align: center;
    padding: 48px 16px 16px 16px;
}

.sec4 {
    background-color: #0065ff;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: center;
}

.div41,
.div42 {
    display: flex;
    background-color: #ffffff;
    color: #091e42;
    max-width: 508px;
    padding: 24px;
    margin: 16px;
    border-radius: 10px;
    flex-flow: column;
}

.div42 {
    margin-bottom: -128px;
    box-shadow: 0 4px 12px #172b4d50;
}

.div412h3 {
    font-size: 16px;
    margin: 36px 0 24px 0;
}

.sec5 {
    display: flex;
    justify-content: center;
}

.div5 {
    margin-top: 150px;
    max-width: 540px;
    padding: 16px;
    text-wrap: wrap;
}

.div51 {
    margin-top: 150px;
    display: none;
}

.sec6 {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.div6 {
    display: flex;
    flex-flow: column;
    background-color: #fafbfc;
    padding: 24px;
    margin: 16px;
    max-width: 508px;
    height: auto;
    border-radius: 10px;
    row-gap: 16px;
}

.div6 h3{
    font-size: 20px;
    color: #091e42;
}

.div6Img {
    width: 96px;
    height: 97px;
}
.div6 a {
    color: #172b4d;
    text-decoration: none;
    font-size: 16px;
    padding: 11.2px 16px 12.8px 16px;
    margin-right: auto;
    border: solid 0.5px #0669ff;
    border-radius: 5px;
}

.div6 a:hover {
    background-color: #0669ff20;
    transition-duration: 400ms;
}

.div7 {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
    margin: 16px 16px 48px 16px;
}

.div7 p {
    max-width: 508px;
    text-align: center;
}

.div71 {
    max-width: 288px;
    height: auto;
}

.div72 {
    display: none;
}

.sec7 {
    background-image: linear-gradient(to right, #5c44aa,#e04fb3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec7 h2 {
    margin: 48px 0 24px;
}

.sec7 div {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    width: min(508px, calc(100vw - 32px));
    justify-content: center;
}

.signupLink {
    background-color: #0065ff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    padding: 16.2px;
    width: 100%;
    text-align: center;
}

.signupLink:hover {
    background-color: #003481cd;
    transition-duration: 400ms;
}

.sec7 p {
    margin: 16px 16px 48px;
    color: #ffffff;
    text-align: center;
}

.sec7 p a {
    color: #ffffff;
}

.sec7 input {
    display: none;
}

.textWhite {
    color: #ffffff;
}

.imgSizeDown {
    max-width: 100%;
    height: auto;
}

.size12 {
    font-size: 12px;
}

.size20 {
    font-size: 20px;
}

.size24 {
    font-size: 24px;
}

.topMargin40 {
    margin-top: 40px;
}

.bottomMargin8 {
    margin-bottom: 8px;;
}

.bottomMargin10 {
    margin-bottom: 10px;;
}

.bottomMargin16 {
    margin-bottom: 16px;
}

.noWrap {
    white-space: nowrap;
}

h1, h2 {
    color: #091e42;
    margin-bottom: 8px;
}

p {
    font-size: 1rem;
    color: #091e42;
}

.div1 input {
    width: 300px;
    height: 49.6px;
    display: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

footer {
    background-color: #172b4d;
    color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.divf1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 32px;
    width: min(476px, calc(100vw - 64px));
    height: auto;
}

.divf1 a {
    text-decoration: none;
    color: #ffffff;
}

.divf1 a:hover {
    text-decoration: underline;
}

.divf2 {
    display: flex;
    flex-flow: column nowrap;
    width: min(476px, calc(100vw - 64px));
    height: auto;
}

.footerul {
    list-style: none;
}

.footerli {
    padding: 16px 0;
    border-top: solid 1px #505f79;
}

.footerli a {
    color: #ffffff;
    text-decoration: none;
}

.footerli a:hover {
    text-decoration: underline;
}

.divf3 {
    display: flex;
    flex-flow: column nowrap;
    width: min(476px, calc(100vw - 64px));
    height: auto;
    padding-top: 16px;
    border-top: solid 1px #505f79;
}

.divf3 ul {
    list-style: none;
}

.divf3 li {
    margin-bottom: 16px;
}

.divf3 a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}

.divf3 a:hover {
    text-decoration: underline;
}

.divf3 section {
    padding: 64px 64px 64px 0;
}

.divf3 section a{
    margin-right: 28px;
}

@media screen and (min-width: 769px){
    .div1 {
        max-width: 720px;
        padding: 128px 16px 16px 16px;
        text-align: center;
    }

    .div2 {
        max-width: 720px;
        width: 100%;
        padding: 16px;
    }

    .signUpButton {
        width: 163.74px;
        justify-self: end;
        margin-left: 16px;
    }

    .div41,
    .div42 {
        max-width: 688px;
        margin: 16px 16px 48px 16px;
    }

    .div42 {
        margin-bottom: -128px;
    }

    .sec5 {
        justify-content: start;
    }

    .div5 {
        max-width: 420px;
    }

    .div51 {
        display: inline;
        width: calc(50vw - 360px);
    }

    .sec6 {
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
    }

    .div6 {
        width: 328px;
        height: auto;
    }

    .div6 h3{
        font-size: 24px;
    }

    .div7 p {
        max-width: 688px;
    }

    .div71 {
        display: none;
    }

    .div72 {
        display: block;
        max-width: 688px;
        height: auto;
    }

    .div1 input {
        display: inline;
    }

    .signupLink {
        padding: 16.2px 16px;
    }

    .sec7 div {
        width: 568px;
    }

    .sec7 input {
        display: inline;
        border: none;
        border-radius: 5px;
        padding: 16.2px 213px 16.2px 0;
    }

    .divf1,
    .divf2,
    .divf3 {
        width: min(656px, calc(100vw - 64px));
    }

    h2 {
        font-size: 36px;
    }

    h1 {
        font-size: 44px;
    }
}

@media screen and (min-width: 992px) {
    .menuIcon,
    .menuIcon::after,
    .menuIcon::before,
    .menuButton {
        display: none;
    }

    .navBar {
        width: 515.31px;
        height: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .header1 {
        height: 60px;
    }

    .logo {
        margin: 7.5px 10px 7.5px 10px;
        height: 45px;
        width: auto;
    }

    .hamburger{
        height: 60px;
        width: 306.65px;
        margin: 0 0 0 auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .hamburgerButton1 {
        color: #172b4d;
        background-color: #ffffff;
        display: inline;
        border: none;
    }

    .hamburgerButton2 {
        color: #ffffff;
        background-color: #0065ff;
        display: inline;
        border: none;
    }

    .link1 {
        color: #172b4d;
        text-decoration: none;
    }

    .link2 {
        color: #ffffff;
        text-decoration: none;
    }

    .hamburgerButton2:hover {
        background-color: #003481cd;
        transition-duration: 400ms;
    }

    .navButton {
        padding: auto;
        color: #172b4d;
        background-color: #ffffff;
        display: inline;
        font-size: 16px;
        border: none;
    }

    .navButton:hover {
        color: #0052cc;
    }

    .div1 {
        max-width: 455px;
        padding: 128px 16px;
        text-align: left;
    }

    .div2 {
        max-width: 535px;
        width: 100%;
        padding: 128px 16px;
    }

    .sec2 {
        justify-content: start;
    }

    .div31 {
        display: inline;
        width: calc(50vw - 511px);
    }

    .signUpButton {
        margin: 16px 0 24px 0;
    }

    .div41 {
        max-width: 928px;
        flex-flow: row;
        padding: 32px;
        column-gap: 64.45px;
    }

    .div42 {
        max-width: 928px;
        flex-flow: row-reverse;
        padding: 32px;
        column-gap: 64.45px;
        margin-bottom: -128px;
    }

    .div5 {
        max-width: 560px;
    }

    .div51 {
        width: calc(50vw - 480px);
    }

    .div6 {
        width: 288px;
        height: auto;
    }

    .div6 h3{
        font-size: 24px;
    }

    .div7 p {
        max-width: 768px;
    }

    .div72 {
        max-width: 768px;
        height: auto;
    }

    .div1 input {
        margin-top: 24px;
    }

    .sec7 {
        background-image: none;
        background-color: #f4f5f7;
    }

    .sec7 h2,
    .sec7 p {
        color: #091e42;
    }

    .sec7 p a:any-link {
        color: #0052cc;
    }

    .sec7 p a:hover {
        color: #551a8b;
        transition-duration: 200ms;
    }

    footer {
        flex-flow: row wrap;
        justify-content: center;
    }

    .divf1 {
        align-self: start;
        flex-flow: column nowrap;
        align-items: start;
        margin: 32px 32px 0 16px;
        width:auto;
        row-gap: 16px;
    }

    .divf2 {
        flex-flow: row nowrap;
        padding: 16px;
        width: 800px;
    }

    .footerul {
        display: flex;
        flex-flow: row nowrap;
    }

    .footerli {
        padding: 16px;
        border: none;
    }

    .footerli:hover {
        background-color: #344563;
    }

    .footerli a:hover {
        text-decoration: none;
    }

    .divf3 {
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 989px;
    }

    .divf3 ul {
        display: flex;
        flex-flow: row nowrap;
        width: 528px;
        column-gap: 16px;
    }

    .divf3 section {
        padding: 0 16px 16px;
    }

    h1 {
        font-size: 48px;
    }

    .copyrightTop {
        padding-top: 4px;
    }
}

@media screen and (min-width: 1200px) {
    .div1 {
        max-width: 550px;
        padding: 128px 16px 16px 16px;
        text-align: left;
    }

    .div2 {
        max-width: 645px;
        width: 100%;
        padding: 128px 16px 0px 16px;
    }

    .signUpButton {
        margin: 32px 0 24px 16px;
    }

    .div31 {
        width: calc(50vw - 613.5px);
    }

    .div41,
    .div42 {
        max-width: 1108px;
    }

    .div5 {
        max-width: 665px;
    }

    .div51 {
        width: calc(50vw - 570px);
    }

    .div6 {
        width: 348px;
        height: auto;
    }

    .div6 h3 {
        font-size: 24px;
    }

    .div7 p {
        max-width: 918px;
    }

    .div72 {
        max-width: 918px;
        height: auto;
    }

    .divf2 {
        width: 950px;
    }

    .divf3 {
        width: 1139px;
    }

    .copyrightTop {
        padding-top: 3.5px;
    }
}