/* XS-300-575 S-576-767 M-768-991 L-992-1319 XL-1320 onwards*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1 {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    display: flex;
    height: 70px;
    width: 100%;
    /* border: solid 1px #000; */
    z-index: 1;
    box-shadow: 0 4px 12px #172b4d50;
}

/* .logo {
     border: solid 1px #000;
}*/

.navBar {
    /* border: solid 1px #000; */
    width: 93.53px;
    height: 62px;
}

.navButton {
    display: none;
}

.hamburger{
    /* border: solid 1px #000; */
    height: 56px;
    width: 56px;
    margin: 7px 0 7px auto;
}

.hamburgerButton1,
.hamburgerButton2 {
    display: none;
    font-size: 19.2px;
}

.menuButton {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1pc;
    margin-left: 1pc;
}

.menuIcon {
    position: relative;
    background-color: #172b4d;
    width: 24px;
    height: 5px;
    border-radius: 2.5px;
}

.menuIcon::before,
.menuIcon::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: #172b4d;
    width: 24px;
    height: 5px;
    border-radius: 2.5px;
}

.menuIcon::before {
    top: -8px;
}

.menuIcon::after {
    top: 8px;
}

.menuButton:hover .menuIcon::before {
    transform: translateY(8px) rotate(45deg);
    transition-duration: 350ms;
}

.menuButton:hover .menuIcon::after {
    transform: translateY(-8px) rotate(-45deg);
    transition-duration: 350ms;
}

.menuButton:hover .menuIcon {
    background-color: transparent;
    transition-duration: 350ms;
}

.header2 {
    background-color: #deebff;
    display: block;
    text-align: center;
    color: #091e42;
    padding: 10px 16px 16px 16px;
}

.navMob {
    display : flex;
    column-width: 100%;
}

.sec1 {
    background-color: #f4f5f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.div1 {
    max-width: 540px;
    padding: 128px 16px 16px 16px;
    /* border: #000 solid 1px; */
    text-align: center;
}

.div2 {
    max-width: 540px;
    width: 100%;
    padding: 16px;
    /* border: #000 solid 1px; */
}

.signUpButton {
    margin-top: 24px;
    margin-bottom: 16px;
    background-color: #0065ff;
    width: 100%;
    height: 49.6px;
    border: none;
    border-radius: 5px;
}

.signUpLink {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 17.2px;
    padding-top: 17.2px;
    font-size: 16px;
}

.signUpButton:hover {
    background-color: #003481cd;
    transition-duration: 400ms;
}

.normalLink:any-link {
    color: #0052cc;
}

.normalLink:hover {
    color: #551a8b;
    transition-duration: 0.5s;
}

.sec2 {
    display: flex;
    justify-content: center;
}

.div3 {
    max-width: 540px;
    padding: 16px;
    /* border: solid 1px #000; */
    text-wrap: wrap;
}

.div31 {
    display: none;
}

.div4 {
    background-color: #0065ff;
    color: #ffffff;
    text-align: center;
    padding: 48px 16px 16px 16px;
}

.sec4 {
    background-color: #0065ff;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: center;
}

.div41,
.div42 {
    display: flex;
    background-color: #ffffff;
    color: #091e42;
    max-width: 508px;
    padding: 24px;
    margin: 16px;
    border-radius: 10px;
    flex-flow: column;
}

.div42 {
    margin-bottom: -128px;
    box-shadow: 0 4px 12px #172b4d50;
}

.div412h3 {
    font-size: 16px;
    margin: 36px 0 24px 0;
}

.sec5 {
    display: flex;
    justify-content: center;
}

.div5 {
    margin-top: 150px;
    max-width: 540px;
    padding: 16px;
    /* border: solid 1px #000; */
    text-wrap: wrap;
}

.div51 {
    margin-top: 150px;
    display: none;
}

.textWhite {
    color: #ffffff;
    /*text-align: center;*/
}

.imgSizeDown {
    max-width: 100%;
    height: auto;
}

.size20 {
    font-size: 20px;
}

.size24 {
    font-size: 24px;
}

.topMargin40 {
    margin-top: 40px;
}

.bottomMargin8 {
    margin-bottom: 8px;;
}

.bottomMargin10 {
    margin-bottom: 10px;;
}

.bottomMargin16 {
    margin-bottom: 16px;
}

.noWrap {
    white-space: nowrap;
}

h1, h2 {
    color: #091e42;
    margin-bottom: 8px;
}

p {
    font-size: 1rem;
    color: #091e42;
}

main input {
    width: 300px;
    height: 49.6px;
    display: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (min-width: 769px){
    .div1 {
        max-width: 720px;
        padding: 128px 16px 16px 16px;
        /* border: #000 solid 1px; */
        text-align: center;
    }

    .div2 {
        max-width: 720px;
        width: 100%;
        padding: 16px;
        /* border: #000 solid 1px; */
    }

    .signUpButton {
        width: 163.74px;
        justify-self: end;
        margin-left: 16px;
    }

    .div41,
    .div42 {
        max-width: 688px;
        margin: 16px 16px 48px 16px;
    }

    .div42 {
        margin-bottom: -128px;
    }

    .sec5 {
        justify-content: start;
    }

    .div5 {
        max-width: 420px;
    }

    .div51 {
        display: inline;
        width: calc(50vw - 360px);
    }

    main input {
        display: inline;
    }

    h2 {
        font-size: 36px;
    }

    h1 {
        font-size: 44px;
    }
}

@media screen and (min-width: 992px) {
    .menuIcon,
    .menuIcon::after,
    .menuIcon::before,
    .menuButton {
        display: none;
    }

    .navBar {
        /* border: solid 1px #000; */
        width: 515.31px;
        height: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .header1 {
        height: 60px;
    }

    .hamburger{
        /* border: solid 1px #000; */
        height: 60px;
        width: 306.65px;
        margin: 0 0 0 auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .hamburgerButton1 {
        color: #172b4d;
        background-color: #ffffff;
        display: inline;
        border: none;
    }

    .hamburgerButton2 {
        color: #ffffff;
        background-color: #0065ff;
        display: inline;
        border: none;
    }

    .link1 {
        color: #172b4d;
        text-decoration: none;
    }

    .link2 {
        color: #ffffff;
        text-decoration: none;
    }

    .hamburgerButton2:hover {
        background-color: #003481cd;
        transition-duration: 400ms;
    }

    .navButton {
        padding: auto;
        color: #172b4d;
        background-color: #ffffff;
        display: inline;
        font-size: 16px;
        border: none;
    }

    .navButton:hover {
        color: #0052cc;
    }

    .div1 {
        max-width: 455px;
        padding: 128px 16px;
        /* border: #000 solid 1px; */
        text-align: left;
    }

    .div2 {
        max-width: 535px;
        width: 100%;
        padding: 128px 16px;
        /* border: #000 solid 1px; */
    }

    .sec2 {
        justify-content: start;
    }

    .div31 {
        display: inline;
        width: calc(50vw - 511px);
    }

    .signUpButton {
        margin: 16px 0 24px 0;
    }

    .div41 {
        max-width: 928px;
        flex-flow: row;
        padding: 32px;
        column-gap: 64.45px;
    }

    .div42 {
        max-width: 928px;
        flex-flow: row-reverse;
        padding: 32px;
        column-gap: 64.45px;
        margin-bottom: -128px;
    }

    .div5 {
        max-width: 560px;
    }

    .div51 {
        width: calc(50vw - 480px);
    }

    main input {
        margin-top: 24px;
    }

    h1 {
        font-size: 48px;
    }
}

@media screen and (min-width: 1200px) {
    .div1 {
        max-width: 550px;
        padding: 128px 16px 16px 16px;
        /* border: #000 solid 1px; */
        text-align: left;
    }

    .div2 {
        max-width: 645px;
        width: 100%;
        padding: 128px 16px 0px 16px;
        /* border: #000 solid 1px; */
    }

    .signUpButton {
        margin: 32px 0 24px 16px;
    }

    .div31 {
        width: calc(50vw - 613.5px);
    }

    .div41,
    .div42 {
        max-width: 1108px;
    }

    .div5 {
        max-width: 665px;
    }

    .div51 {
        width: calc(50vw - 570px);
    }
}